.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #f4a31c !important;
  transition: 0.4s !important;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt {
    border: none;
    border-radius: 50px;
    border: solid black 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40vw;
    padding: 12px 24px;
    background-color: #f4a31c;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: 0px 0px 4px black, 0px 0px 6px black;
    letter-spacing: .5px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
  }
  
  .butt:hover {
    background-color: #e29300;
  }

.buttonHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
}

.aboutTop {
  width: 100%;
  margin-top: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12vw;
}

    .aboutBottom {
        display: block;
        align-items: center;
        text-align: center;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
      }

.missionStatement {
  margin-top: 2vh;
  width: 40vw;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.missionHeader {
  text-align: center;
  padding-bottom: 8vh;
  margin-bottom: 8vh;
  color: black;
  border-bottom: 2px solid black;
  font-size: 1.9em;
}

.mission {
  margin-bottom: 0vh;
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 0.3px;
  font-family: 'Lato', sans-serif; /* Replace with desired font family */
  line-height: 1.6; /* Adjust line height as needed */
  color: black; /* Set desired text color */
}

.founderInfo {
    margin-top: 10vh;
  width: 40vw;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.founderHeader {
  margin-top: 5vh;
  text-align: center;
  margin-bottom: 5vh;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 7vh;
  margin-bottom: 7vh;
  font-size: 1.9em;
}

.history {
  text-align: center;
  color: black;
  font-size: 1.4em;
  letter-spacing: 0.3px;
  font-family: 'Lato', sans-serif; /* Replace with desired font family */
  line-height: 1.6; /* Adjust line height as needed */
}

.landing {
  width: 100vw;
  display: inline-flex;
  margin-bottom: 24vh;
  flex-direction: column;
  align-items: center;
}

.picHead {
  font-size: 0.95em;
  text-shadow: 0px 0px 4px black, 0px 0px 6px black;
}

.skyline {
  width: 100vw;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("../../public/images/skyline.jpeg");
  height: 300px;
  color: white;
  font-size: 2.5rem;
}

.videoHead {
  color: white;
  width: 100%;
  text-shadow: 0px 0px 4px black, 0px 0px 6px black;
  font-size: 1.2em;
  letter-spacing: .4px;
}

.belowVid {
  height: 50px;
  width: 100%;
  background: rgb(52, 116, 158);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.responsiveIframe {
  margin: auto;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 800px) {
.landing {
  margin-top: 115px; /* Add this line */
  margin-bottom: 22vh;
}
}

@media only screen and (max-width: 900px) {

.videoHead {
  display: flex;
  justify-content: center;
  width: 100vw;
}
  .belowVid {
    width: 80%;
  }
  .butt {
    width: 80vw;
  }

  .aboutTop {
    flex-direction: column;
    align-items: center;
}

.aboutBottom {
  margin-top: 0vh;
}

.landing {
  margin-bottom: 40vh;
}

.vid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.responsiveIframe {
  width: 80vw;
  margin-bottom: 7vh;
}

.aboutTop {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.missionStatement,
.founderInfo {
width: 80vw;
margin-bottom: 40px;
}
.skyline {
  text-align: center;
height: 250px;
font-size: 2.25em;
margin-top: 0;
background-position: center;
}
}
