.bottomContainer {
  margin-top: 5px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: white;
  text-decoration: underline;
}

.mobileFooter {
  display: none;
}

.contactHeader {
  font-size: 1.4em;
  color: white;
  text-shadow: 0px 0px 2px black, 0px 0px 4px black;
}

.infoContainer {
  color: white;
  margin-left: 50px;
    margin-right: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  display: inline; /* Add display flex */
  justify-content: center; /* Center horizontally */
  text-shadow: 0px 0px 2px black, 0px 0px 4px black;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactImg {
  margin-bottom: 15px;
}

.contactContainer {
  display: inline-block;
  margin-bottom: 20px;
}

.contactInfo {
  text-align: center;
  display: inline-block;
  align-items: center;
  text-align: center;
  margin-top: 12px;
}

.link { 
  font-weight: 600;
  font-size: 1em;
  transition: color 0.4s;
  text-shadow: 0px 0px 2px black, 0px 0px 4px black;
}

.link:hover {
  color: lightgrey;
  text-align: center;
}

.firstContainer {
  display: inline;
  text-align: center;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}


.container {
  width: 90%;
  margin-bottom: -5vh;
  display: flex;
  align-items: center;
}
.footer {
  position: relative;
  background: #3586ff;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:0vh;
}

.social-icon,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}



.social-icon__item,
.menu__item {
  list-style: none;
}

.firstContainer {
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: solid rgb(102, 176, 255) 3px;
  border-radius: 20px;
  font-size: 1.35rem;
  font-family: Montserrat;
  font-weight: 400;
  transition: background-color 0.4s ease, color 0.4s ease;
  cursor: pointer;
}

.navButton:hover {
  background-color: #3586ff;
  color: #fff;
  border: solid white 3px;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-align: center;
}

.link {
  text-align: center;
  transition: transform 0.3s;
}

.link:hover {
  transform: translateY(-2px);
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.981);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 800;
}
.menu__link:hover{
  color: white;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 0px 0;
  font-weight: 400;
  font-size: 1.25rem;
  font-family: Montserrat;
}


.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  /*background: url("https://i.imgur.com/ZAts69f.png");*/
  background-size: 1000px 100px;
}

.wave#wave1 {
  opacity: 1;
  bottom: 0;
  animation: animateWaves 8s linear infinite;
}

.wave#wave2 {
  opacity: 0.5;
  bottom: 10px;
  animation: animate 8s linear infinite !important;
}

.wave#wave3 {
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 5s linear infinite;
}

.wave#wave4 {
  opacity: 0.7;
  bottom: 20px;
  animation: animate 5s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@media (min-width: 1600px) {
  .menu__link p {
    font-size: 1.3em;
  }

  .bottomContainer p {
    font-size: 1.3em;
  }

  .navButton {
    margin-top: 2vh;
    font-size: 1.8em;
  }

  .contactContainer {
    margin-left: 3vw;
    font-size: 1.3em;
  }

  .contactContainer p {
    font-size: 1.2em;
    margin-bottom: -1vh;
  }
  .contactImg {
    width: 40px;
    height: auto;
  }

}


@media (max-width: 800px) {

  .link { 
    font-size: 1em;
  }

  .contactHeader {
    font-size: 1.2em;
  }

.firstContainer {
  width: 25%;
}

.contactInfo {
  text-align: center;
}

  .infoContainer {
    margin-left: 50px;
    margin-right: 50px;
  }

}

/* Media query for smaller devices */
@media (max-width: 700px) {
  .footer {
    display: none;
  }

  .mobileFooter {
    text-align: center;
  }

  .mobileFooter .container {
    width: 90%;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
  }

  .container {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
    margin-top: 15px;
    
  }

  .buttonContainer {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;

  }

  .menu__item {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }

  .menu__link {
    text-align: center;
    font-size: 1.2rem;
  }

  .topContainer {
    display: inline;
  }

  .firstContainer {
    display: none;
  }

  .mobileFooter {
    width: 100%;
    position: relative;
    background: #3586ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0; /* Add this line */
  }

  .firstContainer,
  .infoContainer {
    width: 100%;
    margin: 0;
  }

  .navButton {
    width: 100%;
    font-size: 1.1rem; /* Adjust the font-size value as needed */
    padding: 8px 16px; /* Adjust the padding values as needed */
    margin-top: 2px;
    margin-bottom: 7px;
  }
}