.aboutLanding {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(0deg, #132135 0%, rgb(62, 73, 79) 38%, #bbc6cb 65%, rgb(255, 255, 255) 100%);
  justify-content: center;
  align-items: center;
  border: solid 2px #cccccc;
  border-radius: 10px;
}

.lowestContainer {
  width: 50%;
}


.reviewHead {
  text-align: center;
  color: white;
  line-height: 2.5;
  letter-spacing: 1px;
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 50px;
  text-shadow: 4px 4px 8px rgb(61,61,61), 4px 4px 8px rgb(61, 61, 61);
  font-weight: 700;
  background-color: #459847;
  border-radius: 10px;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 80%;
  box-shadow: 3px 2px 4px 2px rgba(0, 0, 0, 0.3);
}

.containerDos {
  margin: auto;
  width: 75%;
}

.elfsight-app-d014ef4b-1230-4e83-b2ae-ec10f15fe6f0 {
  width: 80%;
}

.upperContainer {
  margin-top: 140px;
  margin-bottom: 150px;
  display: flex;
}



.aboutInfo {
  font-weight: 500;
  color: black;
  flex: 1;
  font-size: 20px;
  text-align: center;
  line-height: 1.9;
    letter-spacing: 0.5px;
    text-shadow: 4px 4px 8px rgb(255, 255, 255);
}

.aboutVid {
  flex: 1 0 35%;
  margin-top: 0px;
  margin-left: 7.5vw;
}

.aboutVideoHead {
  color: white;
  width: 100%;
  border: solid black 2px;
}

.aboutAboveVid {
  color: white;
  width: 85%;
  height: 70px;
  font-size: 1.4em;
  border: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  background-color: #c3130a; /* Add this line */
  text-shadow: 6px 2px 8px black;
  box-shadow: 
    -2px 3px 5px 1px rgb(94, 94, 94);
  
}

.aboutAboveVid h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.aboutAboveVid {
  font-size: 22px;
}

.aboutResponsiveIframe {
  margin: auto;
  box-shadow: 
  -2px 3px 5px 1px rgb(94, 94, 94);
  margin-bottom: 10vh;
  border-radius: 20px;
}

.fourthContainer {
  flex: 1 0 35%;
  margin-top: 60px;
  margin-right: 5vw;
  margin-left: 5vw;
}

.fourthHeader {
  width: 100%;
  background-color: #f6c026;
  color: white;
  text-align: center;
  font-size: 2.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: oblique;
  padding: 50px;
  border-radius: 0 0 50px 50px;
  border: solid black 1px;
  background: linear-gradient(to right, #0063cd, #788fa4);
  text-shadow: 4px 4px 8px black;
  }

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.head {
  font-size: 30px;
}

.landingButton {
  margin: 0 10px;
  padding: 10px 20px;
  border: 2px solid #003f5c;
  border-radius: 20px;
  background-color: #fff;
  color: white;
  text-shadow: 0px 0px 4px black, 0px 0px 4px black;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.landingButtonPrimary {
  background-color: rgb(56,132,252);
  color: #fff;
  border: none;
  width: 40%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 
  -2px 3px 5px 1px rgb(94, 94, 94);
}

.landingButtonSecondary {
  width: 40%;
  height: 45px;
  background-color: transparent;
  color: white;
  text-shadow: 0px 0px 4px black, 0px 0px 4px black;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.landingButtonPrimaryButton {
  background-color: rgb(56,132,252);
  color: #fff;
  border: none;
  font-size: 1.2em;
  width: 100%;
  text-shadow: 4px 4px 8px black;
}

.landingButtonSecondaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 4px 8px black;
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: 2px solid rgb(56,132,252);
  color: white;
  font-size: 1.2em;
  box-shadow: 
  2px 3px 5px 1px rgb(94, 94, 94);
}



.landingButtonPrimaryButton:hover,
.landingButtonPrimaryButton:focus {
  transform: translateY(-2px);
  background-color: #fff;
  color: rgb(56,132,252);
  border: solid rgb(56,132,252) 2px;
  height: 45px;
  text-shadow: 0px 0px 0px black;
}

.landingButtonSecondaryButton:hover,
.landingButtonSecondaryButton:focus {
  transform: translateY(-2px);
  height: 45px;
  background-color: rgb(56,132,252);
  color: #fff;
  text-shadow: 4px 4px 8px black;
}




@media (max-width: 800px) {
  .aboutLanding {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    margin-top: 0vh;
  }


  .aboutVid,
  .aboutInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .fourthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .aboutInfo {
    text-align: center;
    margin-top: 2em;
    padding-left: 15px;
    padding-right: 15px;
  }

  .aboutResponsiveIframe {
    width: 85vw;
  }

  .fourthContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 20vh;
    text-align: center;

      margin-right: 0vw;
  }

  .fourthHeader {
    height: 120px;
  }

  .head {
    font-size: .85em;
    margin-top: 10vh;
  }
}

@media (max-width: 800px) {

  .buttonContainer {
    margin-top: 10vh;
    margin-bottom: -5vh;
  }

  .landingButtonPrimary {
    width: 40vw;
  }
  .landingButtonSecondary {
    width: 40vw;
  }

  .aboutVid {
    margin-top: 0vh;
    padding-top: 5vh;
  }

  .aboutVidBody {
    margin-bottom: -20px;
  }

  .aboutLanding {
    padding-top: 5vh;
  }

  .aboutInfo {
    font-size: 20px;
  }

  .upperContainer {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    margin-bottom: -100px;
  }

  .fourthContainer { 
    margin-bottom: 0;
  }

  .aboutAboveVid {
    font-size: 20px;
  }

  .fourthHeader {
    padding: 10px;
  }

  .head {
    font-size: 22px;
    line-height: 1.75;
  }

  .reviewHead {
    font-size: 22px;
    padding: 10px;
    width: 100%;
  }

  .mainContainer {
    margin-bottom: -100px;
  }

}
