.box {
  background-image: repeating-linear-gradient(6deg, #d52a2a, #d52a2a 19px, transparent 19px, transparent 29px, #d52a2a 29px), repeating-linear-gradient(96deg, #d52a2a, #d52a2a 19px, transparent 19px, transparent 29px, #d52a2a 29px), repeating-linear-gradient(186deg, #d52a2a, #d52a2a 19px, transparent 19px, transparent 29px, #d52a2a 29px), repeating-linear-gradient(276deg, #d52a2a, #d52a2a 19px, transparent 19px, transparent 29px, #d52a2a 29px);
  background-size: 3px calc(100% + 29.16px), calc(100% + 29.16px) 3px, 3px calc(100% + 29.16px) , calc(100% + 29.16px) 3px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  animation: borderAnimation 1s infinite linear;
  }
  
  @keyframes borderAnimation {
  from { background-position: 0 0, -29.16px 0, 100% -29.16px, 0 100%; }
  to { background-position: 0 -29.16px, 0 0, 100% 0, -29.16px 100%; }
  }

    .head {
    text-align: center;
    color: #333333;
    margin-top: 20px;
    
    }

    .headText {
        font-size: 1.5em;
    }

    .box {
      border-radius: 10px;
    }

    .clipping {
      border-radius: 10px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: rgb(255, 255, 255);
      width: 25vw;
    }

    .clipping h5 {
      font-weight: 400;
      font-size: 1.2em;
      color: white;
      text-shadow: 0 0 4px black, 0 0 4px black;
    }
    
    .carpet_image {
    display: inline-block;
    position: relative;
    margin-top: 17px;
    margin-bottom: 0.7vh;
    align-items: center;
    justify-content: center;
    }
    
    .couch_image {
    margin-bottom: 0.1vh;
    display: inline-block;
    position: relative;
    justify-content: center;
    }
    
    .duct_image {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-bottom: 17px;
    justify-content: center;
    }
    
    .dots {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 25px;
    justify-content: center;
    }
    
    .info_one_body {
    display: flex;
    width: 100%;
    }
    
    .info_one {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .second_ban {
      color: white;
        font-size: 2.1em;
        font-style: oblique;
        letter-spacing: .7px;
    }
    
    .second_banner {
        text-align: center;
        background: linear-gradient(to right bottom, #555555, #000000);
        padding: 2rem;
        height: 95px; /* Change the height to auto */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem; /* Add margin-bottom */
      }
      
    .landing_body {
      background-color: #e0e0e0;
        margin-top: -28px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .specialsContainer {
      display: inline;
      text-align: center;
      margin-bottom: 15vh;
      margin-left: 10vw;
      margin-right: 10vw;
      width: 90%;
    }

    .link {
      text-decoration: none;
    }

    .specialsHeader {
      background: linear-gradient(to right bottom, rgb(210, 102, 102), rgb(195, 24, 24), rgb(210, 102, 102));
      border: solid white 2px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
    }

    .specialsHeaderText {
      color: white;
      font-size: 1.6em;
      font-weight: 400;
      padding: 10px;
    }

    .clippingContainer {
      margin-top: 8vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }

    .clipping {
      width: 60vw;
    }
    
    .landing_header {
        border: none;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    .service_container {
      margin-top: 10vh;
      margin-bottom: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7vw;
        width: 90%;
    }
    
    .text {
        margin-top: -1.5vh;
        color: #333333;
        font-weight:600;
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .service {
        display: inline-block;
        text-align: center;
        width: 20vw;
        border: solid #d8d8d8 2px;
        border-radius: 20px;
        background: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
        transition: transform 0.3s ease-in-out;
    }
    
    .service:hover {
        transform: translateY(-10px);
    }
    
    .service img {
        max-width: 100%;
        height: auto;
    }

    @media only screen and (min-width: 1600px) {
    .headText {
        font-size: 1.7em;
    }

      .text {
        font-size: 1.2em;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    }

    @media only screen and (max-width: 800px) {
      .service_container {
        margin-top: 30px;
        flex-direction: column;
        margin-bottom: 30px;

        width:70%;
      }
    
      .service {
        width: 100%;
        
      }
    }
    
    @media only screen and (max-width: 800px) {

      .specialsContainer {
        margin-bottom: 10vh;
      }
      .clippingContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .specialsHeader {
        display:  flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        margin-bottom: 7.5vh;

      }
      .specialsHeaderText {
        display:  flex;
        justify-content: center;
        align-items: center;
      }

      .clipping {
        margin-bottom: 5vh;
      }

      .clipping h5{
        font-size: 1.2em;

      }
        .service_container {
          flex-direction: column;
          width:70%;
        }
      
        .service {
          width: 100%;
          height: auto;
          margin-bottom: 20px;
        }
      
        .landing_body {
          height: 100%;
        }
      
        .service:first-child {
          margin-top: 50px;
        }
      
        .service:last-child {
          margin-bottom: 50px;
        }
      
        .head {
          font-size: 1rem;
        }
      
        .text {
          font-size: 1.2em;
          margin-bottom: 20px;
        }
      
        .carpet_image {
            margin-top: 5
        }

        .duct_image {
            margin-top: 25px;
        }

        .couch_image {
          margin-bottom: -5px;
        }

        .dots {
            margin-top: 10px;
            margin-bottom: 20px;
        }
      }
      