


.box-area {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.listContainer {
  color: white;
  margin-left: 20px;
  margin-top: 15px;
  gap: 70px;
  display: flex;
  font-size: 1.2em;
}

.listContainer li {
  margin-bottom: 3px;
}

.topContainer {
  display: flex;
}

.bottomContainer {
  padding-left: 40px;
  font-size: 0.99em;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.leftContainer {
  flex: 1;
  justify-content: flex-start;
  order: 2; /* Added */
}

.rightContainer {
  flex: 1;
  justify-content:flex-end;
  color: white;
  order: 1; /* Added */
}

.head {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: -120px;
}

.header {
  width: 85%;
  background-color: rgb(55, 103, 143);
  text-align: center;
  color: white;
  height: 80px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  border: solid white 1px;
}

.mainContainer {
  border-radius: 25px;
  display: block;
  margin: auto;
  width: 85%;
  height: 100%;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.box {
  box-shadow: 4px 4px 6px 8px rgba(0, 0, 0, 0.4);
  width: 70px;
  height: 400px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  transition: all linear 0.6s;
}

.box:last-child{
  margin-right: 0;
}

.box::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #fff;
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-size: 20px;
}

.box:nth-child(1) i{
  color: #ff5200;
}
.box:nth-child(2) i{
  color: #ca470a;
}
.box:nth-child(3) i{
  color: #00d9ff;
}
.box:nth-child(4) i{
  color: #0077ff;
}

.contentWrapperCarpet {
  border-top: solid white 1px;
  height: 200px;
  width: 100%;
  position: relative;
  bottom: 140px;
  background: rgb(178, 55, 55);
  display: flex;
  flex-direction: column;
}

.contentWrapperUpholstery {
  border-top: solid white 1px;
  height: 200px;
  width: 100%;
  position: relative;
  bottom: 130px;
  background: rgb(39, 147, 35);
  display: flex;
  flex-direction: column;
}

.contentWrapperDucts {
  border-top: solid white 1px;
  height: 200px;
  width: 100%;
  position: relative;
  bottom: 140px;
  background: rgb(46, 82, 171);
  display: flex;
  flex-direction: column;
}

.contentWrapperOther {
  border-top: solid white 1px;
  height: 200px;
  width: 100%;
  position: relative;
  bottom: 160px;
  background: rgb(218, 188, 43);
  display: flex;
  flex-direction: column;
}

.contentWrapperCarpet h2 {
  text-decoration: underline;
  padding-top: 12px;
  background: rgb(178, 55, 55);
  width: 100%;
  text-align: center;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #f6f6f6;
  font-weight: 600;
  opacity: 0;
  transition: all linear 0.3s;
}

.contentWrapperUpholstery h2 {
  
  text-decoration: underline;
  padding-top: 10px;
  background: rgb(39, 147, 35);
  width: 100%;
  text-align: center;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #f6f6f6;
  font-weight: 600;
  opacity: 0;
  transition: all linear 0.3s;
}

.contentWrapperDucts h2 {
  text-decoration: underline;
  padding-top: 10px;
  background: rgb(46, 82, 171);
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 25px;
  color: #f6f6f6;
  font-weight: 600;
  opacity: 0;
  transition: all linear 0.3s;
}

.contentWrapperOther h2 {
  text-decoration: underline;
  padding-top: 15px;
  background: rgb(218, 188, 43);
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 25px;
  color: #f6f6f6;
  font-weight: 600;
  opacity: 0;
  transition: all linear 0.3s;
}

.box p {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  padding-left: 65px;
  bottom: 85px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #f6f6f6;
  opacity: 0;
  transition: all linear 0.3s;
}

.contentWrapperCarpet p {
  bottom: 75px;
}

.contentWrapperDucts p {
  bottom: 78px;
  font-size: 16px;
}


.box.active h2{
  opacity: 1;
}

.box.active p{
  opacity: 1;
}

.active{
  width: 60vw;
  transition: all linear 0.6s;
}

.text {
  font-size: 1.2em;
}

.box.active .contentWrapperCarpet h2,
.box.active .contentWrapperCarpet p {
  opacity: 1;
}

.box.active .contentWrapperCarpet {
  width: 100%;
}

.box:not(.active) .contentWrapperCarpet {
  width: 0;
  opacity: 0;
  transition: all linear 0.3s;
}
.box.active .contentWrapperUpholstery h2,
.box.active .contentWrapperUpholstery p {
  opacity: 1;
}

.box.active .contentWrapperUpholstery {
  width: 100%;
}

.box:not(.active) .contentWrapperUpholstery {
  width: 0;
  opacity: 0;
  transition: all linear 0.3s;
}

.box.active .contentWrapperDucts h2,
.box.active .contentWrapperDucts p {
  opacity: 1;
}

.box.active .contentWrapperDucts {
  width: 100%;
}

.box:not(.active) .contentWrapperDucts {
  width: 0;
  opacity: 0;
  transition: all linear 0.3s;
}

.box.active .contentWrapperOther h2,
.box.active .contentWrapperOther p {
  opacity: 1;
}

.box.active .contentWrapperOther {
  width: 100%;
}

.box:not(.active) .contentWrapperOther {
  width: 0;
  opacity: 0;
  transition: all linear 0.3s;
}

.mobileContainer {
  display: none;
}


@media (max-width: 800px) {

  .mainContainer {
    display: none;
  }

  .mobileContainer {
    
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .head {
    margin-bottom: 7vh;
  }
  .header {
    margin: 0;
  }

  .image {
    border-radius: 30px 30px 0 0;
    box-shadow: 10px 0px 5px rgb(98, 98, 98);
    height: 300px;
  }

  .box-area {
    display: inline-block;
    text-align: center;
    margin: auto;
  }

  .contentWrapper {
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 50vh;
    width: 100vw;
  }

  .mobileBox {

    text-align: center;
    margin: auto;
    width: 95%;
    margin-bottom: 7.5vh;
  }

  .lastMobileBox {
    text-align: center;
    margin: auto;
    width: 95%;
  }

  .contentWrapperCarpetMobile {
    padding-top: 20px;
    color: white;
  text-align: center;
  width: 100%;
  background: rgb(178, 55, 55);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 30px 30px;
  box-shadow: 10px 5px 5px rgb(98, 98, 98);
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.mobileHead {
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.8em;
}

.contentWrapperUpholsteryMobile {
  padding-top: 20px;
   color: white;
  text-align: center;
  width: 100%;
  background: rgb(39, 147, 35);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 30px 30px;
  box-shadow: 10px 5px 5px rgb(98, 98, 98);
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.contentWrapperDuctsMobile {
  padding-top: 20px;
  text-align: center;
  color: white;
  width: 100%;
  background: rgb(46, 82, 171);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 30px 30px;
  box-shadow: 10px 5px 5px rgb(98, 98, 98);
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.listContainer li {
  margin-bottom: 4px;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentWrapperOtherMobile {
  padding-top: 20px;
  text-align: inline;
  text-align: center;
  color: white;
  width: 100%;
  background: rgb(218, 188, 43);
  border-radius: 0 0 30px 30px;
  box-shadow: 10px 5px 5px rgb(98, 98, 98);
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}


}
