.carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .carouselHeader {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    text-decoration: underline;
    color: #333;
  }

  .summaryContent {
      display: flex;
      justify-content: center;
      gap: 5vw;
  }
  
  .serviceList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    justify-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .serviceButton.active {
    background-color: #3399ff;
    color: #fff;
  }
  
  .serviceButton.active.upholsteryCleaning {
    background-color: #3399ff;
    color: #fff;
  }
  
  .serviceButton.airDuctCleaning.active {
    background-color: #66cc66;
    color: #fff;
  }
  
  .serviceButton.additionalServices.active {
    background-color: #ffcc66;
    color: #fff;
  }
  
  .serviceButton {
    background-color: #f1f1f1;
    border: 1.5px solid #3399ff;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
  }
  
  
  .serviceButton:hover {
    color: #fff;
    background-color: #333;
  }
  
  .carouselImageContainer {
    width: 40vw;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .summaryBox {
      max-width: 60vw;
      min-width: 40vw;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .summaryBox h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .summaryBox p {
    line-height: 1.5;
    color: #333;
  }
  
  .selectServiceText {
    font-size: 16px;
    color: #777;
  }
  
  @media (max-width: 800px) {
    .serviceList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .carouselImageContainer {
        width: auto;
    }
    .summaryBox {
        text-align: center;
        max-width: 100%;
        min-width: 0%;
        margin-top: 10px;
        width: 100%;
    }
  }
  