/* Style for the header */
.awarded-header {
    text-align: center;
    background-color: #2b2d42;
    padding: 30px;
    font-size: 2.2em;
    font-style: oblique;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0vh;
    color: white;
    width: 100%;
  }


  .awardCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
  }

  .doorImg {
    border-radius: 10px;
    box-shadow: 6px 6px 6px 4px rgba(0, 0, 0, 0.15);
  }

  
  /* Style for the Angie container */
  .angie-container {
    padding: 100px;
    margin-bottom: 220px;
    background-color: #f0f4f8;
    border-radius: 10px;
    box-shadow: 6px 6px 6px 4px rgba(0, 0, 0, 0.15);
    height: 450px;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .angie-container img {
    padding: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  /* Style for the Angie header */
  .angie-head {
    color: white;
    background-color:  #0076EA;
    text-align: center;
    width: 100%;
    border: solid lightgrey 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.55em;
    line-height: 36px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    text-shadow: 2px 2px 8px rgb(61,61,61), 0 2px 8px rgb(61, 61, 61);
  }
  
  .image {
    height: 100%;
  }
  
  /* Style for the carousel container */
  .carousel-container {
    height: 60vh;
    width: 100%;
    text-align: center;
    margin-top: 0vh;
  }
  
  /* Style for the landing container */
  .landing-container {
    width: 100%;
    background-color: #dcdee0;
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  /* Style for the lower container */
  .lower-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 175px;
  }

  .headText {
    font-size: 1.1em;
  }
  
  /* Style for the review container */
  .review-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .reviewHead {
    text-align: center;
    color: white;
    line-height: 2.5;
    letter-spacing: 1px;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 25px;
    text-shadow: 4px 4px 8px rgb(61,61,61), 4px 4px 8px rgb(61, 61, 61);
    font-weight: 700;
    background-color: #c23642;
    border-radius: 10px;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 55%;
    box-shadow: 3px 2px 4px 2px rgba(0, 0, 0, 0.3);
  }

  .nextDoorContainer {
    margin-bottom: 210px;
  }

  .doorImg {
    width: 35vw;
    height: auto;
  }

  .nextDoorHead {
    color: white;
    line-height: 2.5;
    letter-spacing: 1px;
    font-size: 28px;
    margin-top: 0vh;
    text-shadow: 4px 4px 8px rgb(61,61,61), 4px 4px 8px rgb(61, 61, 61);
    font-weight: 700;
    margin-bottom: 3vh;
    background-color: #eab300;
    border-radius: 10px;
    padding: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 6px 6px 6px 4px rgba(0, 0, 0, 0.3);
  }
  
  .containerTwo {
    margin-bottom: 400px;
  }
  


@media screen and (max-width: 1200px) {


  .doorImg {
    width: 40vw;
  }
  .nextDoorHead {
    font-size: 24px;
  }
}


@media screen and (max-width: 1000px) {

.angie-container {
  margin: auto;
  width: 60vw;

}

.doorImg {
  width: 55vw;
}

.angie-head {
  padding: 30px;
  font-size: 22px;
}

.awarded-header {
  padding: 10px;
}

.headText {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.landing-container {
  overflow: hidden; /* Add overflow: hidden to hide overflowing content */
}

.reviewHead {
  width: 80%;
  text-align: center;
  line-height: 1.75;
  padding: 10px;
}

.lower-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20vh;
  overflow-y: auto; /* Add overflow-y: auto to enable vertical scrolling if needed */
}

.nextDoorHead {
  padding: 15px;
}


.awardCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
}


@media screen and (max-width: 768px) {

  .nextDoorHead {
    font-size: 22px;
  }

  .doorImg {
    width: 70vw;
  }

}


@media screen and (max-width: 400px) {
  .awarded-header { 
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
  }

  .angie-container {
    margin-top: 0vh;
    margin-bottom: 5vh;
    width: 75vw;

  }

  .angie-head {
    font-size: 18px;
    padding: 10px;
  }
  .lower-container {
    margin-top: 10vh;
  }
.nextDoorHead {
  padding: 10px;
  font-size: 16px;
}

.doorImg {
  width: 75vw;
  margin-bottom: 0;
}

.nextDoorContainer {
  margin-bottom: 15vh;
}


  .reviewHead {
    margin-bottom: 0;
    width: 75%;
  }

  .awarded-header {
    margin-bottom: 0vh;
  }
}